.accounts {
    .number {
        width: 250px;
    }

    .owner {
        width: 150px;
    }

    .balance {
        width: 100px;
    }

    .actions {
        width: 300px;
        margin-bottom: 0;
    }
}